.pages-hero {
  font-family: "Against", sans-serif;
  -webkit-user-select: none;
  user-select: none;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  position: relative;
  color: navy;
}
